html{
  background-color: #f8f8f8;
}

header{
  height:150px;
  background:url(../Images/header.png) no-repeat center;
  background-size:cover;
}

.row-header{
  padding-top: 30px;
}

.slogan{
padding-top: 14px;
padding-left: 0px;
}

.section-info {
    padding-bottom: 7px;
    align-content: center;
    background-color: #f8f8f8;
    text-align: center;
}

.row-info{
    margin-top: 30px;
}

.action-title {
    font: 25px calibri, sans-serif;
    color: #bb0000;
}

.action-button {
  width: 207px;
  height: 44px;
  border-radius: 0px;
  background-color: #9f9f9f;
  color: white;
  font-size: 20px;
}

.section-control{
  background-color: #efefef;
  margin-bottom: 10px;
}

.row-inputs{
  background-color: #fafafa;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.row-list{
  background-color: #fafafa;
}

.row-pagination{
  background-color: #fafafa;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

.input-control{
      height: 40px !important;
}

.container-textarea{
  background-color: #fafafa;
  margin-top: 10px;
}

.row-save{
  margin-top: 15px;
  text-align: right;
      margin-bottom: 20px;
}

.table-user tbody tr{
  background-color: #efefef;
  margin-top: 5px;
}

#saveuser,#edituser {
    font: 20px calibri, sans-serif;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: normal;
    color: #fafafa;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0px;
    background: #bb0000 none;
    width: 95px;
}

@media (max-width:767px) {
}

@media (min-width:768px) {
}

@media (min-width:992px) {
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}